[Unit]
Description=Atualiza DNF e Flatpak como root
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/atualiza-sistema.sh
TimeoutStartSec=0
