[Unit]
Description=Agenda atualizacao 15s apos iniciar sessao

[Timer]
OnStartupSec=15s
AccuracySec=1s
RandomizedDelaySec=0
Unit=atualiza-no-login.service
Persistent=false

[Install]
WantedBy=timers.target
