[Unit]
Description=Dispara atualizacao apos login grafico
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/atualiza-no-login.sh

[Install]
WantedBy=default.target
